{% load bootstrap3 %}
{% load compress %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block head_title %}{% endblock head_title %} | BTS</title>

  {% bootstrap_css %}

  {% block styles %}{% endblock styles %}

  {% compress css %}
  <link rel="stylesheet" type="text/sass" href="{% static 'sass/default.sass' %}">
  {% block styles_compress %}{% endblock styles_compress %}
  {% endcompress %}

  {% bootstrap_javascript jquery=1 %}
</head>

<body>

  {% include 'nav.html' %}

  {% bootstrap_messages %}

  {% block main %}{% endblock main %}

  {% include 'footer.html' %}

  {% block scripts %}{% endblock scripts %}
</body>

</html>
