<nav class="navbar navbar-default navber-static-top">

  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">BTS</a>
    </div>{# brand #}

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar1">

      <form class="navbar-form navbar-left" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>

      <ul class="nav navbar-nav navbar-right">
      {% if request.user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.username}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'bugs_add' %}">Submit new bug report</a></li>
            <li class="divider" role="separator"></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
      {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
      {% endif %}
      </ul>{# navbar-menu-right #}

    </div>{# navbar-collapse #}

  </div>{# container #}

</nav>{# nav #}
